{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <title>{% block title %}{% endblock %}Code Dictionary</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1 id="main-title"><a tabindex="4" href="{% url 'index' %}">CodeDictionary</a></h1>
        <a tabindex="1" href="{% url 'submit' %}">Submit</a>
        {% if user.is_authenticated %}
            <div id="user-header">    
                <a tabindex="2" href="{% url 'login' %}"><img id="user-header__profile_picture" src="media/{{ user.profile_picture }}" alt="">Logged in as {{ user.username }}</a>
                <a tabindex="3" href="{% url 'logout' %}">Logout</a>                
            </div>

            
        {% elif not user.is_authenticated %}
            <div id="user-header">
                <a tabindex="2" href="{% url 'login' %}">Login</a>
                <a tabindex="3" href="{% url 'register' %}">Register</a>                
            </div>
        {% endif %}
    </header>
    {% block content %} {% endblock %}
</body>
</html>
