/* [-=-=-=-=-=-=-=-=-] Fonts [-=-=-=-=-=-=-=-=-] */
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

/* [-=-=-=-=-=-=-=-=-] Clearfix [-=-=-=-=-=-=-=-=-] */
* {
    box-sizing: border-box;
}

/* [-=-=-=-=-=-=-=-=-] Variables [-=-=-=-=-=-=-=-=-] */

$green: limegreen;
$dark-gray: #28282D;
$light-gray: #30343F;

$display-font: 'Dosis', sans-serif;
$content-font: 'Open Sans', sans-serif;

$transition: .25s cubic-bezier(.17,.67,.52,.97);

$bp-mobile: 540px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-widescreen: 1920px;

/* [-=-=-=-=-=-=-=-=-] Mixins [-=-=-=-=-=-=-=-=-] */

@mixin mobile {
   @media (max-width: #{$bp-mobile}){
    @content;
  }
}
@mixin tablet {
   @media (min-width: #{$bp-tablet}) and (max-width: #{$bp-desktop - 1px}){
    @content;
  }
}
@mixin desktop {
   @media (min-width: #{$bp-desktop}){
    @content;
  }
}



/* [-=-=-=-=-=-=-=-=-] General Styles [-=-=-=-=-=-=-=-=-] */
h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
}

p, a, li {
    font-family: $content-font;
}

a {
    color: $green;
    outline: 4;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: $green;
    }

    &:click {
        color: white;
    }
}


body {
    font-family: $content-font;
}

.button {
    font-size: 1.2rem;
    background: $green;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: white !important;
    text-decoration: none;
    transition: $transition;
    border: 3px solid $green;

    &:hover {
        transition: $transition;
        border: 3px solid $green;
        background: white;
        color: $green !important;
        text-decoration: none;
    }

    &:focus, &:click {
        transform: translateY(-4em);
        transition: $transition;
    }
}

/* [-=-=-=-=-=-=-=-=-] Styles [-=-=-=-=-=-=-=-=-] */

header {
    #index-submit-button {
        @include mobile {
            display: block;
            width: 60%;
            text-align: center;
            margin: 0 auto;
        }
    }
    #main-title {
        text-align: center;
        font-family: $display-font;
        font-size: 37px;

        a {
            color: black;
            text-decoration: none;
            
            &:hover {
                color: $green;
            }  
        }

        &:hover {
            color: $green;
        }
    }
    
    #user-header {
        position: absolute;
        background: $dark-gray;
        color: white;
        border-radius: 0 0 0 5px;
        top: 0;
        right: 0;
        padding: 0.5em;
        
        a {
            color: white;
        }

        #user-header__profile_picture {
            width: 1.5em;
            height: 1.5em;
            margin-right: 2em;
            border-radius: 3px;
        }
    }
}

#search {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @include mobile {
        width: 97%;
    }


    #search__box {
        padding: 1em;
        border-radius: 5px;
        border: 0;
        outline: 0;
        background: $dark-gray;
        font-size: 2em;
        color: $green;
        transition: $transition;  
        border: 3px solid $light-gray;

        @include mobile {
            font-size: 1.3em;
            padding: 0.9em;
        }


        &:focus {
            border: 3px solid $dark-gray;
            background: white;
           
            transform: translateY(-0.4em);
            transition: $transition;
            // border-bottom: 10px solid $light-gray;
        }
    }
    
    #search__results {
        text-align: left;
        .word {
            border-bottom: 1px solid black;
        }

        h2 {
            font-size: 20px;
        }

        p {
            border-left: $dark-gray;
        }
        
        h4 {
            color: $light-gray;
        }
    }
}

#word_detail {
    border: 1px solid rgba(0,0,0,0.4);
    padding: 1em;
    width: 50%;
    margin: 0 auto;

    @include mobile {
        width: 100%;
        border: 0;
    }
}

#user-profile {
    margin: 2em auto;
    width: 60%;
    text-align: center;

    img {
        border-radius: 5px;
    }
}